<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.tliaswebmanagement.mapper.ClazzMapper">

    <!-- 公共条件 -->
    <sql id="whereClause">
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null">
                and begin_date >= #{begin}
            </if>
            <if test="end != null">
                and end_date &lt;= #{end}
            </if>
        </where>
    </sql>
    <insert id="insert">
        INSERT INTO clazz (
            name,
            room,
            begin_date,
            end_date,
            master_id,
            subject,
            create_time,
            update_time
        ) VALUES (
            #{name},
            #{room},
            #{beginDate},
            #{endDate},
            #{masterId},
            #{subject},
            NOW(),
            NOW()
                 )
    </insert>
    <delete id="delete">
        delete from clazz
        where id = #{id}
    </delete>

    <!-- 查询分页数据 -->
    <select id="list" resultType="org.example.tliaswebmanagement.pojo.Clazz">
        select *
        from clazz
        <include refid="whereClause"/>
        order by update_time desc
    </select>

</mapper>